# 机型：TL-XDR6086
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_tl-xdr6086=y

# 中文界面
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y

# 功能插件
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ttyd=y

# Argon主题 + 配置
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

# 常用基础工具
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_openssh-sftp-server=y

# ========== DiskMan磁盘管理 + 全套依赖 ==========
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_luci-compat=y

# Samba4 文件共享
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-server=y
